!<html> 
    <head>
      <title>Node App</title> 
    </head>
  
    <body> 
      <h1>Menu</h1>
      <ul>
      <li><a href="https://nodegithubaction.azurewebsites.net/login">Display Detail</a></li>
      <li><a href="https://nodegithubaction.azurewebsites.net/admin">Admin</a></li>
      <li><a href="https://nodegithubaction.azurewebsites.net/C0871662">User Id</a></li>
      <li><a href="https://nodegithubaction.azurewebsites.net/valueofday/2023-10-07">User Id</a></li>
    </ul>
    </body>
  </html>